/* Desktop */

@media (min-width: 800px) {
.homePage{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 4px;
    height: 440px;
    background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1204969947428823051/IMG_7449_4.JPG?ex=65f25a36&is=65dfe536&hm=ef23829782a5e87717423b2fcba1b3ac1610867bf14d5eedfb0f31ea466ad341&=&format=webp&width=1450&height=654"); 
    background-repeat: no-repeat;
    border: solid black;
    box-shadow: 10px 5px 10px black;
}
.homeName{
    display: flex;
    margin-top: 20%;
    text-align: center;
    height: 120px;
    line-height: 60px;
    float: none;
    font-family: Bodoni Moda;
    font-size: 40px;
    color: whitesmoke;
    font-weight: bolder;
    backdrop-filter: blur(3px);
    text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}
}