/* Desktop */

@media (min-width: 800px) {
.homePage{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 4px;
    height: 400px;
    background-image: url("https://ik.imagekit.io/v64tipjbn/Final%20Portfolio/portfolio8.png?updatedAt=1717716294742"); 
    background-repeat: no-repeat;
    /* border: solid rgb(12, 82, 106); */
    box-shadow: 10px 5px 10px rgb(30, 30, 30);
}
.homeName{
    display: flex;
    margin-top: 26%;
    margin-left: 125px;
    font-weight: 700;
    text-align: center;
    height: 60px;
    line-height: 60px;
    float: none;
    font-family: Bodoni Moda;
    font-size: 50px;
    color: rgb(7, 7, 7);
    /* font-weight: 300; */
    backdrop-filter: blur(3px);
    text-shadow:
    1px 1px 2px rgb(5, 5, 5),
    0 0 1em whitesmoke,
    0 0 0.2em whitesmoke;
}
.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.1);
    pointer-events: none;
}
}