.contact{
    height: 60px;
    width: 200px;
    font-family: Bodoni Moda;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(16, 107, 137);
    border: none;
}