.header{
  display: flex;
  height: 100px;
  border: solid whitesmoke;
  box-shadow: 10px 5px 5px black;
  background-color: rgb(30, 30, 30);
}
.homeButton{
  border: solid fuchsia;
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 32px;
  /* border: none; */
  background-color: rgb(30,30,30);
  color: whitesmoke;
  font-family: Tomatoes;
}
.icon{
  margin-left: 30px;
  display: flex;
  width: 170px;
  justify-content: space-between;
  color: whitesmoke;
  height: 30px;
  font-size: 20px;
  font-family: Bodoni Moda;
  align-content: center;
  margin-top: 20px;
  font-weight: bold;
    text-shadow:
      1px 1px 2px white,
      0 0 1em white,
}
a {
  text-decoration: none;
}