.header{
    height: 100px;
    border: solid palevioletred;
    background-color: rgb(92, 92, 224);
}
.homeButton{
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 32px;
    border: none;
    background-color: rgb(92, 92, 224);
    color: whitesmoke;
    font-family: Tomatoes;
}