.SubNav{
    border: solid whitesmoke;
    background-color: whitesmoke;
    border-width: 0.3em;
    height: 75px;
    width: 100%;
    margin-top: 10px; 
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}
.footer{
    border: solid whitesmoke;
}
.bottomRow{
    background-color: rgb(16, 107, 137);
    border: solid whitesmoke;
    box-shadow: 10px 5px 10px rgb(30, 30, 30);
    display: flex;
    height: 250px;
}
.location{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 33%;
}
.locationPin{
    display: flex;
    margin-left: 40%;
    margin-top: 70px;
    height: 60px;
    width: 60px;
    background-color: peachpuff;
}
.locationName{
    height: 35px;
    font-family: Bodoni Moda;
    font-weight: 400;
}
.email{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.emailLogo{
    display: flex;
    height: 60px;
    width: 60px;
    margin-top: 60px;
    margin-left: 40%;
}
.emailName{
    display: flex;
    height: 50px;
    margin-left: 15%;
    margin-top: 4px;
    width: 250px;
    font-weight: 300;
    text-decoration: none;
    font-family: Bodoni Moda;
    font-size: 20px;
    color: whitesmoke;
}
.otherLinks{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.containerThree{
    display: flex;
    height: 60px;
    margin-left: 15%;
    margin-top: 4px;
    /* width: 250px; */
    font-weight: 300;
    text-decoration: none;
    font-family: Bodoni Moda;
    font-size: 20px;
    color: whitesmoke;
    
}
.react-icons{
    color:white;
    margin-left: 40%;
    margin-top: 70px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}