.skills{
    border: solid rgb(12, 82, 106);
    background-color: whitesmoke;
    margin-top: 20px;
    border-width: 0.4em;
    box-shadow: 10px 5px 10px black;
}
.skillTitle{
    font-size: 40px;
    font-family: Bodoni Moda;
    color: whitesmoke;
}
.skillHead{
    font-weight: 700;
    height: 40px;
    border: solid rgb(12, 82, 106);
    background-color: rgb(12, 82, 106);
    font-size: 20px;
    color: whitesmoke;
    font-family: Bodoni Moda;
}
.logosTop{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
.logosBottom{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
.html{
    height: 90px;
    width: 90px;
}
.css{
    height: 90px;
    width: 90px;
}
.js{
    height: 90px;
    width: 90px;
}
.mongo{
    height: 90px;
    width: 90px;
}
.python{
    height: 90px;
    width: 90px;
}
.react{
    height: 90px;
    width: 90px;
}
.node{
    height: 90px;
    width: 90px;
}
.sql{
    height: 90px;
    width: 90px;
}