.contactForm{
    background-image: url("https://ik.imagekit.io/v64tipjbn/Final%20Portfolio/portfolio8.png?updatedAt=1717716294742");
    height: 450px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Bodoni Moda;
    border: solid rgb(30, 30, 30);
    box-shadow: 10px 5px 10px rgb(30, 30, 30);
}
.contactTitle{
    height: 60px;
    margin-top: 13%;
    margin-right: 10%;
    font-family: Bodoni Moda;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#form-textarea-control-opinion{
    font-family: Bodoni Moda;
    height: 200px;
    width: 700px;
    margin-top: 10px;
}
#label{
    font-family: Bodoni Moda;
    color: whitesmoke;
}
#form-input-control-email{
    font-family: Bodoni Moda;
}
#form-input-control-last-name{
    font-family: Bodoni Moda;
}
.ui form{
    border: solid blue;
    font-family: Bodoni Moda;
}
/* .requiredfield {
    border: saddlebrown;
    font-family: Bodoni Moda;
}
.uiblack button{
    border: solid salmon;
} */
.contactMe{
    height: 55px;
    width: 150px;
    margin-top: 5px;
    font-family: Bodoni Moda;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    background-color: rgb(12, 82, 106);
    border: none;
}
