.contactForm{
    background-image: url("https://media.discordapp.net/attachments/1135935108650635327/1204969947428823051/IMG_7449_4.JPG?ex=66588676&is=665734f6&hm=67553cd642b63e8b300b39b6dbac83064bad7e5c336c56021f624b82e0e838f1&=&format=webp&width=1205&height=853");
    height: 450px;
    /* display: flex;
    justify-content: space-between; */
    background-size: cover;
    background-repeat: no-repeat;
    border: solid rgb(30, 30, 30);
    box-shadow: 10px 5px 10px rgb(30, 30, 30);
}
#form-textarea-control-opinion{
    border: solid blue;
    height: 250px;
    width: 700px;
    margin-top: 10px;
}
#label{
    font-family: Bodoni Moda;
    color: whitesmoke;
}
.ui form{
    border: solid blue;
}
.required field {
    border: saddlebrown;
}
.ui black button{
    border: solid salmon;
}
.contactMe{
    height: 60px;
    width: 200px;
    font-family: Bodoni Moda;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    background-color: #303030;
}
