@media (min-width: 800px) {
.gallery{
    border: solid rgb(30, 30, 30);
    box-shadow: 10px 5px 10px rgb(30, 30, 30);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    border-width: 0.3em;
}

.projectTitle{
    /* border: solid whitesmoke; */
    color: whitesmoke;
    font-size: 20px;
    font-family: Bodoni Moda;
    border: solid blue;
}
.galleryHead{
    height: 50px;
    font-size: 25px;
    font-family: Bodoni Moda;
    border-top: solid rgb(30, 30, 30);
    border-bottom: solid rgb(30, 30, 30);
    width: 100%;
    display: flex;
}
.list {
    display: flex;
    gap: 8px;
    padding: 16px;
    height: 500px;
    width: 1200px;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.item {
    flex-shrink: 0;
    width: 80%;
    /* height: 90vh; */
  
    background-color: #FFF;
  
    scroll-snap-align: center;
}
  
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
}
}