.gallery{
    border: solid black;
    box-shadow: 10px 5px 10px black;
    background-color: whitesmoke;
    display: flex;
    height: 600px;
    border-width: 0.3em;
}
.carousel-caption-bottom{
    font-family: Bodoni Moda;
    border: solid black;
    background-color: rgb(26, 26, 25);
}
.carousel-image{
    display: flex;
    justify-content: center;
    border: solid salmon;
}
.carousel-container{
    display: flex;
    margin-left: 100px;
    justify-content: center;
    border: solid green;
}
.projectTitle{
    /* border: solid whitesmoke; */
    color: whitesmoke;
    font-size: 20px;
    font-family: Bodoni Moda;
    border: solid blue;
}
.galleryHead{
    height: 70px;
    font-size: 25px;
    font-family: Bodoni Moda;
    border: solid red;
}