.carousel-caption-bottom{
    font-family: Bodoni Moda;
    color: black;
    border: solid black;
    background-color: rgb(219, 206, 186);
}
.carousel-image{
    display: flex;
    justify-content: center;
}
.carousel-container{
    display: flex;
    justify-content: center;
    margin-left: 550px;
}
.projectTitle{
    border: solid whitesmoke;
    color: whitesmoke;
    font-size: 20px;
    font-family: Bodoni Moda;
}
.galleryHead{
    font-family: Bodoni Moda;
}